---
permalink: /resources/sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://designbycristina.com/resources/</loc>
    <lastmod>{{ null | isoDate }}</lastmod>
  </url>
{%- for article in collections.resources %}
  <url>
    <loc>https://designbycristina.com{{ article.url }}</loc>
    <lastmod>{{ article.date | isoDate }}</lastmod>
  </url>
{%- endfor %}
</urlset>
